*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* background: salmon; */
}

.container-fluid2 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 10vh 90vh;
    /* grid-template-rows: 10vh 400px 100vh 5vh; */

    grid-template-areas: "header header"
                        "main main";
                        /* "footer footer"; */
}

/* -------------header------------ */
header{
    grid-area: header;
}

a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    text-decoration: none;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #423842;
    height: 10vh;
}

.nav-list {
    list-style: none;
    display: flex;
    text-decoration-color:white;
    margin-top: 15px;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

form.search_form input[type=text] {
    padding: 5px;
    font-size: 15px;
    border: 1px solid grey;
    float: left;
    width: 290px;
    background: #f1f1f1;
    border-radius: 10px;
}
  
form.search_form button {
    float: left;
    width: 20%;
    padding: 5px;

    margin-left: -58px;

    background: #858585;
    color: white;
    font-size: 15px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}
  
form.search_form button:hover {
    background: #a7a7a7;
}
  
  /* Clear floats */
form.search_form::after {
    content: "";
    clear: both;
    display: table;
}
/* -----------------------/header------------------ */


/* ---------------------MAIN-------------------------- */
main{
    /* background: yellowgreen; */
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    /* overflow-y: scroll; */
    /* margin-bottom: 20px; */
    padding: 15px;
    text-align: center;
    position: relative;
    bottom: 0;
}


.card{
    border: none;
}

main h2{
    margin: 30px auto;
    color: gray;
    text-align: center;
} 

main img{
    width: 348px;
    height: 348px;
}
/* ---------------------/MAIN-------------------------- */


footer{
    background: #423842;
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    color: #423842;
    /* margin-left: -16%; */
    /* position: relative; */
    /* border: 1px solid black; */
    width: 100%;
    height: 30px;
}

.foot-list {
    list-style: none;
    display: flex;
    /* text-decoration-color:white; */
    margin-top: 15px;
}

.foot-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    /* color: white; */
}